@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

.front-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.front-img:hover {
    background-image: linear-gradient(to right,
            rgb(230, 209, 161),
            rgb(230, 209, 161)) !important;
}